/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* HEADER STYLING */
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem 1rem;
}

header .logo-icon {
    width: 7%;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
    cursor: pointer;
}

header .logo-icon:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

/* MAIN WRAPPER STYLING */
.main-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    padding: 0 0rem 1rem 9rem;
}

/* HERO STYLING */
.main-wrapper .logo-banner {
    width: 100%;
    pointer-events: none;
}

.main-wrapper .hero-text {
    text-align: right;
    color: var(--dark-gray);
    font-size: 2rem;
    letter-spacing: 1.7px;
}

.password-reset-form {
    width: 22rem;
    border: 4px solid var(--amber);
    border-radius: 17px;
    -webkit-box-shadow: var(--amber-glow);
    box-shadow: var(--amber-glow);
    padding: 2rem;
    -webkit-animation: ambient-glow 2s infinite;
    animation: ambient-glow 2s infinite;
}

.password-reset-form .form-header {
    text-align: right;
    margin: 1rem;
}

.password-reset-form .form-header .logo-image {
    width: 60%;
}

.password-reset-form .form-header .header-text {
    font-weight: 500;
}

.password-reset-form .form-header .header-text span {
    font-weight: 700;
}

/* INPUT STYLING */
.password-reset-form .input-wrapper {
    margin-top: 3rem;
}

.password-reset-form .input {
    padding: .5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    background: transparent;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
}

.password-reset-form .input:focus {
    outline: none;
}

.password-reset-form .input:hover {
    border-bottom: 1px solid var(--blue);
}

.password-reset-form .user-input-wrapper {
    position: relative;
    width: 100%;
}

.password-reset-form .user-input-wrapper .input-text {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--dark-gray);
    color: var(--dark-gray);
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.password-reset-form .user-input-wrapper .floating-label {
    position: absolute;
    pointer-events: none;
    top: 13px;
    left: 10px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    color: #bebebe;
}

.user-input-wrapper input:focus~.floating-label,
.user-input-wrapper input:not(:focus):valid~.floating-label {
    top: -15px;
    left: 10px;
    font-size: 13px;
    opacity: 1;
    color: var(--dark-blue);
    -webkit-animation: glow 1s infinite;
    animation: glow 1s infinite;
}

/* INPUT ERROR STYLING */
.error-message {
    width: 100%;
    text-align: right;
    margin-top: -1rem;
    margin-bottom: 1.2rem;
    white-space: nowrap;
    -webkit-animation: glow 1s infinite;
    animation: glow 1s infinite;
}

.error-message p {
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: .8rem;
    color: var(--amber);
}

.password-reset-form .checkbox-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .6rem;
    margin-bottom: 1rem;
}

.password-reset-form .checkbox-wrapper label {
    font-weight: 700;
    font-size: .9rem;
    color: var(--dark-blue);
}

/* BUTTON STYLING */
.btn {
    width: 100%;
    border: none;
    border-radius: 32px;
    padding: .7rem;
    margin-bottom: 1rem;
    color: var(--white);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.9px;
    cursor: pointer;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
}

.reset-btn {
    background: var(--amber);
}

.btn:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: var(--shadow-dark);
    box-shadow: var(--shadow-dark);
}

/* DISABLED & ENABLED STATES */
.enabled {
    opacity: 1;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

.password-reset-form .return {
    text-align: center;
}

.password-reset-form .return .return-link {
    color: var(--dark-blue);
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

/* ANIMATIONS */
@-webkit-keyframes ambient-glow {
    0% {
        -webkit-box-shadow: var(--amber-glow);
        box-shadow: var(--amber-glow);
    }

    50% {
        -webkit-box-shadow: 0 2rem 2rem 0 rgba(255, 201, 84, 0.1);
        box-shadow: 0 2rem 2rem 0 rgba(255, 201, 84, 0.1);
    }

    100% {
        -webkit-box-shadow: var(--amber-glow);
        box-shadow: var(--amber-glow);
    }
}

@keyframes ambient-glow {
    0% {
        -webkit-box-shadow: var(--amber-glow);
        box-shadow: var(--amber-glow);
    }

    50% {
        -webkit-box-shadow: 0 2rem 2rem 0 rgba(255, 201, 84, 0.1);
        box-shadow: 0 2rem 2rem 0 rgba(255, 201, 84, 0.1);
    }

    100% {
        -webkit-box-shadow: var(--amber-glow);
        box-shadow: var(--amber-glow);
    }
}

@-webkit-keyframes glow {
    0% {
        opacity: .7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}

@keyframes glow {
    0% {
        opacity: .7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    .logo-icon {
        width: 15%;
    }

    .main-wrapper {
        padding: 1rem;
    }

    .hero-text {
        font-size: 1.3rem;
    }
}

@media (max-width: 425px) {
    .logo-icon {
        width: 15%;
    }

    .hero-text {
        font-size: 1.3rem;
    }

    .main-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1rem;
    }

    .form-container {
        padding: 2rem;
    }

    .password-reset-form {
        width: 20rem;
    }
}

@media (max-width: 320px) {
    header .logo-icon {
        width: 20%;
    }

    .main-wrapper {
        padding: 2rem;
    }

    .password-reset-form {
        width: 18rem;
    }

    .password-reset-form .input {
        font-size: 1rem;
    }

    .password-reset-form .user-input-wrapper .floating-label {
        top: 4px;
    }
}