<header>
    <img class="logo-icon" src="{{logoIcon}}" alt="logo icon" />
</header>
<!-- MAIN WRAPPER -->
<div class="main-wrapper">
    <!-- HERO CONTENT -->
    <div class="hero-content">
        <h2 class="hero-text">
            Whoops, what happened...
        </h2>
        <!-- LOGO BANNER -->
        <img src="{{logoBanner}}" alt="logo banner" class="logo-banner" />
    </div>
    <!-- SIGN UP FORM -->
    <div class="form-container">
        <form class="password-reset-form" [formGroup]="PASSWORD_RESET_FORM">
            <!-- FORM HEADER -->
            <div class="form-header">
                <!-- LOGO IMAGE -->
                <img src="{{logoImage}}" alt="logo image" class="logo-image" />
                <!-- FORM HEADER TEXT -->
                <h2 class="header-text">
                    <span>
                        We've got you
                    </span>
                    covered!
                </h2>
            </div>
            <!-- INPUT WRAPPER -->
            <div class="input-wrapper">
                <!-- EMAIL INPUT -->
                <div class="user-input-wrapper">
                    <input type="text" class="input-text input" formControlName="email" required />
                    <span class="floating-label">
                        {{ DEFAULT_FORM_DATA.email }}
                    </span>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="PASSWORD_RESET_FORM.controls['email'].invalid && (PASSWORD_RESET_FORM.controls['email'].dirty || PASSWORD_RESET_FORM.controls['email'].touched)"
                        class="error-message">
                        <p>
                            <fa-icon [icon]="warningIcon"></fa-icon>
                            A valid email is required
                        </p>
                    </div>
                </div>

                <!-- PASSWORD INPUT -->
                <div class="user-input-wrapper">
                    <input type="password" class="input-text input" formControlName="password" required />
                    <span class="floating-label">
                        {{ DEFAULT_FORM_DATA.password }}
                    </span>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="PASSWORD_RESET_FORM.controls['password'].invalid && (PASSWORD_RESET_FORM.controls['password'].dirty || PASSWORD_RESET_FORM.controls['password'].touched)"
                        class="error-message">
                        <p>
                            <fa-icon [icon]="warningIcon"></fa-icon>
                            Password must be 8 characters long
                        </p>
                    </div>
                </div>
            </div>
            <!-- INPUT END -->

            <!-- CHECKBOX -->
            <div class="checkbox-wrapper">
                <input type="checkbox" name="news-letter" class="checkbox" />
                <label for="news-letter">
                    Keep me signed in
                </label>
            </div>

            <!-- BUTTONS -->
            <div class="button-wrapper">
                <button class="reset-btn btn" [ngClass]="{ 'disabled': PASSWORD_RESET_FORM.invalid}"
                    (click)="RESET_PASSWORD()">
                    Reset password
                </button>
            </div>

            <!-- RETURN TO SIGN UP -->
            <div class="return">
                <a class="return-link" [routerLink]="['/sign-in']">
                    Return to Sign In?
                </a>
            </div>
        </form>
        <!-- FORM END -->
    </div>
</div>